COHERE_API_KEY=XAo4D4IQsPhXOFePqWdwn38M6yHGE0v5ta20Fu6u
# Update these with your pinecone details from your dashboard. 
# PINECONE_INDEX_NAME is in the indexes tab under "index name" in blue
# PINECONE_ENVIRONMENT is in indexes tab under "Environment". Example: "us-east1-gcp"
PINECONE_API_KEY=b8ba65f2-8970-41aa-ae00-ec2a0b31fa8e  
PINECONE_ENVIRONMENT=gcp-starter
PINECONE_INDEX_NAME=skillpedia
